<h1 class="text-center">translate & delay</h1>
<div class="container mx-auto h-[200px] border-2 border-fuchsia-600 flex justify-evenly items-center">

    <button type="button" class="px-6 py-2 w-40 h-8 bg-emerald-400 rounded-lg transition-all delay-1000  hover:translate-y-4">click</button>
    <button type="button" class="px-6 py-2 w-40 h-8 bg-emerald-400 rounded-lg transition-all delay-700  hover:-translate-y-4">click</button>
    <button type="button" class="px-6 py-2 w-40 h-8 bg-emerald-400 rounded-lg transition-all delay-500  hover:translate-x-4">click</button>
    <button type="button" class="px-6 py-2 w-40 h-8 bg-emerald-400 rounded-lg transition-all delay-300   hover:-translate-x-4">click</button>

</div>
<h1 class="text-center">duration</h1>
<div class="container mx-auto h-[200px] border-2 border-fuchsia-600 flex justify-evenly items-center">

    <button type="button" class="px-6 py-2 w-40 h-8 bg-emerald-400 rounded-lg transition-all duration-500  hover:translate-y-4">duration-500</button>
    <button type="button" class="px-6 py-2 w-40 h-8 bg-emerald-400 rounded-lg transition-all duration-500  hover:-translate-y-4">duration-500</button>
    <button type="button" class="px-6 py-2 w-40 h-8 bg-emerald-400 rounded-lg transition-all duration-500  hover:translate-x-4">duration-500</button>
    <button type="button" class="px-6 py-2 w-40 h-8 bg-emerald-400 rounded-lg transition-all duration-500   hover:-translate-x-4">duration-500</button>

</div>
<h1 class="text-center">timing function</h1>

<div class="container mx-auto h-[200px] border-2 border-fuchsia-600 flex flex-col justify-evenly items-center">
 
    <button type="button" class="px-6 py-2 w-40 h-8 bg-emerald-400 rounded-lg transition-all duration-1000 ease-linear hover:translate-y-4">easy-linear</button>
    <button type="button" class="px-6 py-2 w-40 h-8 bg-emerald-400 rounded-lg transition-all duration-1000 ease-in hover:-translate-y-4">ease-in</button>
    <button type="button" class="px-6 py-2 w-40 h-8 bg-emerald-400 rounded-lg transition-all duration-1000 ease-out  hover:translate-x-7">ease-out</button>
    <button type="button" class="px-6 py-2 w-40 h-8 bg-emerald-400 rounded-lg transition-all duration-1000 ease-in-out  hover:-translate-x-7">ease-in-out</button>

</div>

<h1 class="text-center">animations</h1>
<div class="container mx-auto h-[200px] border-2 border-fuchsia-600 flex  justify-evenly items-center">
 
    <button type="button" class="px-6 py-2 w-40 h-8 bg-emerald-400 rounded-lg transition-all duration-1000 animate-spin ">spin</button>
    <div class="px-6 py-2 w-12 h-12 bg-emerald-400 rounded-full transition-all duration-1000 animate-ping"></div>
    <button type="button" class="px-6 py-2 w-40 h-8 bg-emerald-400 rounded-lg transition-all duration-1000  animate-pulse">pulse</button>
    <button type="button" class="px-6 py-2 w-40 h-8 bg-emerald-400 rounded-lg transition-all duration-1000  animate-bounce">bounce</button>

</div>

<h1 class="text-center">scale & rotate & Transform Origin
</h1>

<div class="container mx-auto h-[600px] border-2 border-fuchsia-600 flex  justify-between items-center">
  
    <div class="border-2 w-60 border-stone-400 flex flex-col ">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-40 transition-all hover:scale-150" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nihil quae quia voluptas consequuntur, enim voluptates doloremque consequatur soluta eius exercitationem ea cumque explicabo repellat alias quis corrupti repellendus velit!</p>

    </div>
   
    <div class="border-2 w-60 border-stone-400 flex flex-col ">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-40 transition-all hover:rotate-45" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nihil quae quia voluptas consequuntur, enim voluptates doloremque consequatur soluta eius exercitationem ea cumque explicabo repellat alias quis corrupti repellendus velit!</p>

    </div>

    <div class="border-2 w-60 border-stone-400 flex flex-col ">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-40 transition-all origin-top-right hover:rotate-45" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nihil quae quia voluptas consequuntur, enim voluptates doloremque consequatur soluta eius exercitationem ea cumque explicabo repellat alias quis corrupti repellendus velit!</p>

    </div>

    <div class="border-2 w-60 border-stone-400 flex flex-col ">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-40 transition-all origin-bottom-left hover:rotate-45" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nihil quae quia voluptas consequuntur, enim voluptates doloremque consequatur soluta eius exercitationem ea cumque explicabo repellat alias quis corrupti repellendus velit!</p>

    </div>
</div>





<h1 class="text-center">skew</h1>

<div class="container mx-auto h-[400px] border-2 border-fuchsia-600 flex  justify-between items-center">
  
    <div class="border-2 w-60 border-stone-400 flex flex-col ">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-40 transition-all hover:skew-x-12" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nihil quae quia voluptas consequuntur, enim voluptates doloremque consequatur soluta eius exercitationem ea cumque explicabo repellat alias quis corrupti repellendus velit!</p>

    </div>
    </div>