                <h1 class="text-center">rounded</h1>
<div class="container mx-auto h-[800px] border-8 border-fuchsia-600 flex  flex-wrap p-2 ">
    <div class="w-44 h-44  rounded bg-slate-200  ml-4"></div>
    <div class="w-44 h-44  rounded-sm bg-slate-300  ml-4"></div>
    <div class="w-44 h-44  rounded-md bg-slate-400  ml-4"></div>
    <div class="w-44 h-44  rounded-lg bg-slate-500  ml-4"></div>
    <div class="w-44 h-44  rounded-xl bg-slate-500  ml-4"></div>
    <div class="w-44 h-44  rounded-2xl bg-slate-500  ml-4"></div>
    <div class="w-44 h-44  rounded-3xl bg-slate-500  ml-4"></div>
    <div class="w-44 h-44  rounded-full bg-slate-500  ml-4"></div>
    <div class="w-44 h-44  rounded-s-xl bg-slate-500  ml-4"></div>
    <div class="w-44 h-44  rounded-e-xl bg-slate-500  ml-4"></div>
    <div class="w-44 h-44  rounded-t-3xl bg-slate-500  ml-4"></div>
    <div class="w-44 h-44  rounded-b-3xl bg-slate-500  ml-4"></div>
    <div class="w-44 h-44  rounded-tl-lg bg-slate-500  ml-4"></div>
   
    
</div>
<h1 class="text-center">border</h1>
<div class="container mx-auto h-[300px] border-8 border-fuchsia-600 flex p-2 ">
    <div class="w-44 h-44  border-t-4 bg-slate-200 border-red-500 ml-4"></div>
    <div class="w-44 h-44  border-l-4 bg-slate-300 border-red-500 ml-4"></div>
    <div class="w-44 h-44  border-b-4 bg-slate-400 border-red-500 ml-4"></div>
    <div class="w-44 h-44  border-r-4 bg-slate-500 border-red-500 ml-4"></div>
    
</div>
<h1 class="text-center">divided y</h1>
<div class="container mx-auto h-[300px] border-8 border-dashed mt-10 border-fuchsia-600 p-2 divide-y-4  divide-violet-900 divide-dotted">
    <div class="w-44 h-8 text-center ">one</div>
    <div class="w-44 h-8 text-center">two</div>
    <div class="w-44 h-8 text-center">three</div>

</div>
<h1 class="text-center">divided x</h1>
<div class="container mx-auto h-[300px] border-8 border-dotted mt-10 grid grid-cols-3 border-fuchsia-600  p-2 divide-x-4 divide-orange-600">
    <div class="w-44 h-8 text-center">one</div>
    <div class="w-44 h-8 text-center">two</div>
    <div class="w-44 h-8 text-center">three</div>

</div>
<h1 class="text-center">outline</h1>
<div class="container mx-auto h-[300px] border-8 border-dotted mt-10  border-fuchsia-600 p-2 divide-x-4 divide-orange-600">
    <button type="button" class="px-7 outline outline-offset-3 w-40 border-2 border-rose-500  outline-fuchsia-700  focus:ring-2 focus:ring-inset">click</button>


</div>
<h1 class="text-center">Shadow</h1>
<div class="container mx-auto h-[300px] border-8 border-fuchsia-600 flex p-2 ">
    <div class="w-44 h-44   bg-slate-200 shadow shadow-emerald-500 sh ml-4"></div>
    <div class="w-44 h-44   bg-slate-300 shadow-fuchsia-700/30 shadow-md ml-4"></div>
    <div class="w-44 h-44   bg-slate-400 shadow-lg ml-4"></div>
    <div class="w-44 h-44   bg-slate-500 shadow-xl ml-4"></div>
    <div class="w-44 h-44   bg-slate-500 shadow-2xl ml-4"></div>
    <div class="w-44 h-44   bg-slate-100 shadow-inner shadow-yellow-500 ml-4"></div>
    
</div>
<h1 class="text-center">opacity</h1>
<div class="container mx-auto h-[300px] border-8 border-fuchsia-600 bg-red-800 flex p-2 ">
    <div class="w-44 h-44   bg-slate-900 opacity-40 ml-4"></div>
    <div class="w-44 h-44   bg-slate-900 opacity-30 ml-4"></div>
    <div class="w-44 h-44   bg-slate-900 opacity-20 ml-4"></div>
    <div class="w-44 h-44   bg-slate-900 opacity-10 ml-4"></div>
    <div class="w-44 h-44   bg-slate-900 opacity-5 ml-4"></div>
    <div class="w-44 h-44   bg-slate-900 opacity-0 ml-4"></div>
    
</div>
<h1 class="text-center">blur</h1>
<div class="container mx-auto h-[400px] border-8   border-fuchsia-600 flex p-2 ">
    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44 blur-sm" alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>
    
    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44 blur-md" alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>

    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44 blur-lg" alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>

    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4 blur-2xl hover:blur-none">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44 " alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>
    
</div>
<h1 class="text-center">brightness</h1>
<div class="container mx-auto h-[400px] border-8  border-fuchsia-600 flex p-2 ">
    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44 brightness-50" alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>
    
    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44 brightness-75" alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>

    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44 brightness-95" alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>

    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4 ">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44 brightness-150 " alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>
    
</div>
<h1 class="text-center">contrast</h1>
<div class="container mx-auto h-[400px] border-8  border-fuchsia-600 flex p-2 ">
    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44 contrast-50" alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>
    
    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44 contrast-75" alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>

    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44 contrast-125" alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>

    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4 ">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44 contrast-200 " alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>
    
</div>
<h1 class="text-center">grayscale invert sepia</h1>
<div class="container mx-auto h-[400px] border-8   border-fuchsia-600 flex p-2 ">
    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4 grayscale hover:grayscale-0">
        <h1>grayscale</h1>
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44 " alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>
    
    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4 invert hover:invert-0">
        <h1>invert</h1>
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44 " alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>

    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4 sepia hover:sepia-0">
        <h1>sepia</h1>
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44 " alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>
    
</div>
<h1 class="text-center">Hue rotate</h1>

<div class="container mx-auto h-[700px] border-8 border-fuchsia-600 flex  flex-wrap p-2 ">
    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44 hue-rotate-15" alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>
    
    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44 hue-rotate-30" alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>

    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44 hue-rotate-90" alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>

    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4 ">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44  hue-rotate-180 " alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>


    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44 -hue-rotate-15" alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>
    
    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44 -hue-rotate-30" alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>

    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44 -hue-rotate-90" alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>

    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4 ">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44  -hue-rotate-180 " alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>
    
</div>
<h1 class="text-center">saturate</h1>

<div class="container mx-auto h-[400px] border-8 border-fuchsia-600 flex p-2 ">
    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44 saturate-50" alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>
    
    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44 saturate-100" alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>

    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44 saturate-150" alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>

    <div class="w-64 p-4  border-2 border-stone-600 flex flex-col  ml-4 ">
        <img src="../../../assets/pexels-alena-koval-233944-886521.jpg" class="w-full h-44 saturate-200 " alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, itaque.</p>
    </div>
    
</div>