<section class="sectionbg  h-96 flex flex-col  items-center justify-center  ">
    <div  class=" h-full w-1/4 text-slate-700 text-center flex flex-col  justify-center p-5  ">
     <h3 class="p-4 font-bold">MZ Technology</h3>
     <p class="selection:bg-fuchsia-300 selection:text-fuchsia-900">
       Lorem<span class="test-m">hello</span> ipsum dolor sit amet consectetur adipisicing elit. Maxime non adipisci labore minus sunt, cupiditate doloremque? Nobis harum corrupti rem. Earum rerum vitae temporibus quia nihil consequuntur iusto voluptatum sed.
     </p>
     <button class="bg-inherit rounded-lg w-32 p-1  hover:bg-sky-500 border text-gray-600 border-sky-900 self-center mt-14 hover:bg-sky-900 hover:text-white">show more</button>
    </div>
   
  </section>
