<header class="w-full lg:h-16 bg-cyan-700 dark:bg-gray-700 dark:text-yellow-50 text-slate-50 flex lg:flex-row md:h-64  sm:flex-col  sm:h-80  " [ngClass]="{'bg-opacity-30':isScrolled}">
    <div class="w-1/3 h-full flex items-center p-3 font-extrabold ">MZ Technology</div>
    <div class="w-1/2 h-full flex items-center justify-center  ">
      <ul class="flex lg:flex-row justify-center md:flex-col  sm:flex-col ">
        <li class="p-2"><a href="" class="hover:text-cyan-400 font-bold hover:text-2xl transition-all duration-500">Home</a></li>
        <li class="p-2"><a href="" class="hover:text-cyan-400 font-bold hover:text-2xl transition-all duration-500">About us </a></li>
        <li class="p-2"><a href="" class="hover:text-cyan-400 font-bold hover:text-2xl transition-all duration-500">contact us</a></li>
        <li class="p-2"><a href="" class="hover:text-cyan-400 font-bold hover:text-2xl transition-all duration-500">Details</a></li>
  
      </ul>
    </div>
    <div class="w-1/3 h-full flex justify-center items-center  ">
      <button class="bg-inherit border border-sky-500 rounded-lg w-32 p-1 hover:bg-sky-900 hover:outline-slate-500  ">show more</button>
    </div>
   </header >
