<section  class="relative w-[800px] mt-32 mx-auto h-[300px]   flex justify-center items-center">
    <div class=" w-[600px]  h-[150px] bg-white flex flex-col justify-end pb-4 pl-3 rounded border border-cyan-800 dark:bg-slate-500 dark:text-white dark:shadow-lg dark:shadow-slate-400 shadow-xl">
    <img src="../../../assets/team-3.jpg" class="absolute top-2 left-36 w-[120px] h-[120px] rounded-2 border-2 border-cyan-800  rounded-full " alt="" srcset="">
   <h1 class="font-extrabold ml-8">James erik</h1>
   <p>Lorem  ipsum dolor sit amet, consectetur adipisicing elit. Qui quasi accusantium, ab fugiat quidem sunt quo labore corrupti reprehenderit deleniti sequi, magnam </p>
   </div>
</section>



